.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
body {
  background-color: #201b1b; 
}
.card {
  overflow: visible;
  width: 300px;
  padding: 20px;
}
.label{
  margin: 5px
}
.input {
  margin-bottom: 10px;
}

.button {
  width: 100%;
  margin-bottom: 10px;
}
.link{
  margin-top: 10px;
}
